Body{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: auto;
    font-style: normal;
    color: Black;
    background-color: #C1ECE4;
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header{
    padding: 0;
    margin: 0;
    Height: 5%;
    Width: 100%;
    background-color: #3AA6B9;
    position: sticky;
    top: 0;
    border: 2px solid;
    border-color: #FFD0D0;
    color: #FEF9EF;
}

#headericon{
    margin: 0%;
    padding: 0%;
    padding-left: 1%;
    color: #FFD0D0;
    font-size: 20px;
    position: absolute;
}

.CURRENTPAGE{
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    flex: 1;
    border-color: #FF9EAA;
    width: 60%;
    height: 93%;
    position: absolute;
    top: 10%;
    left: 20%;
    overflow: auto;
}

.MENU{
    margin: auto;
    margin-left: 10px;
}

button{
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 50px;
    padding: 2px;
}

button:hover{
    background-color: #FFD0D0;
    color: #FF9EAA;
}

a{
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a:hover{
    color: #FF9EAA;
}

.TEXT{
    padding: 3%;
    flex-wrap: wrap;
}

.MEDAL{
    height: 200px;
}

.MISC{
    padding: 10px;
    position: relative;
    float: right;
    max-width: 32%;
    min-width: 20%;
    height: auto;
    margin-top: 0;
}

#pfp{
    margin-left: 30%;
    width: 40%;
    background: none;
    background-color: #C1ECE4;
}

#gitbox{
    Height: 40px;
    Width: 40px;
    position: fixed;
    bottom: 5%;
    right: 1;
    padding: 10px;
    background-color: Black;
    border-radius: 50px;
}
  
#git{
    Height: 40px;
    width: 40px;
    position: absolute;
    margin: auto;
}

#footer{
    Height: 4%;
    Width: 100%;
    background-color: #3AA6B9;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 2px solid;
    border-left: none;
    border-color: #FFD0D0;
    color: #FEF9EF;
}

#rights{
    position: absolute;
    right: 0;
}
