Body{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: auto;
    font-style: normal;
    color: Black;
    background-color: #A2D2FF;
    width: auto;
}

#header{
    Height: 4%;
    Width: 100%;
    background-color: #FEF9EF;
    position: fixed;
    top: 0;
}

#headericon{
    margin: 0%;
    padding: 0%;
    color: black;
    font-size: 20px;
}
/*
#menu{
    Border: 2px solid;
    border-color: white;
    Width: 13%;
    Height: 40%;
    position: absolute;
    Top: 5%;
    left: 20%;
    font-size: larger;
}

#title{
    margin-top: 17%;
    margin-bottom: 10%;
    padding-left: 10px;
}
*/
.CURRENTPAGE{
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: white;
    Width: 50%;
    Height: 90%;
    position: absolute;
    top: 10%;
    left: 25%;
}

.MENU{
    margin: auto;
    margin-left: 10px;
}

button:hover{
    background-color: #FEE440;
    font-colour: #FF865E;
}

button{
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a{
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.TEXT{
    padding: 3%;
}

.git{
    Height: 20px;
    Width: 20px;
    position: relative;
    background-color: Black;
    margin-top: 150px;
    }

#footer{
    Height: 4%;
    Width: 100%;
    background-color: #FEF9EF;
    position: fixed;
    bottom: 0;
}
